*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(42, 116, 124), rgb(60, 67, 110));
    font-family: sans-serif;
    color: white;
}

.location,
.temperature{
    height: 30vh;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location{
  position: absolute;
  top: 50px;
  width: 60%;
}

.temperature{
    flex-direction: column;
}

.city{
  font-size: 45px;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h1{
    font-size: 200px;
}

.conditions{
  position: absolute;
  top: 675px;
  font-size: 25px;
}

/* Styling code for search box */
.wrapper {
    position: absolute;
    top: 90px;
    left: 79%;
    transform: translate(-50%, -50%);
  }
   
  .search-box {
    width: 750px;
    height: 100px;
    position: relative;
  }
   
  .input {
    position: absolute;
    top: 20px;
    right: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 63px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #333;
    border: 3px solid rgb(213, 215, 216);
    transition: all 0.8s ease;
  }
   
  .btn {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgb(213, 215, 216);
    border-radius: 50%;
    right: 45px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
  }
   
  .input.active {
    width: 350px;
    right: 100px;
  }
   
  .btn.animate {
    transform: rotate(-360deg);
    right: 100px;
  }